{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns":"usage"
      },
      "react"
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "core.js":2
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport":true
      }
    ],
    "react-hot-loader/babel"
  ]
}